argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.0
Django==6.0.7
django-cors-headers==4.9.0
django-csp==4.0
envtoml==0.4.0
gunicorn==26.0.0
packaging==26.2
pwned-passwords-django==5.2.0
pycparser==3.0
python-json-logger==4.1.0
sqlparse==0.5.5
binance-connector==3.13.0
djangorestframework==3.17.1
drf-yasg==1.21.15
